{% extends "admin.html" %}

{% block content %}
    <h1 class="h3 mb-4 text-gray-800">Changer votre mot de passe</h1>

    <form class="user" method="POST" action="{{ url_for('change_password') }}">
        <div class="form-group">
            <input type="password" name="current_password" class="form-control form-control-user" placeholder="Mot de passe actuel" required>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="password" name="new_password" class="form-control form-control-user" placeholder="Nouveau mot de passe" required>
            </div>
            <div class="col-sm-6">
                <input type="password" name="confirm_new_password" class="form-control form-control-user" placeholder="Confirmer le nouveau mot de passe" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-user btn-block">Changer le mot de passe</button>
    </form>
{% endblock %}
